h1 {
    font-size: 400%;
    color:white;
    text-align:center;
    font-family: futura;
  }

body {
    background-color: grey;
}

.logo_42 {
    max-width:15%;
    height:auto;
    margin-right:10px;
}

.logos {
    width:auto;
    height:150px;
    margin : 20px;
    vertical-align: middle;
}

p {
    font-size:200%;
    font-family: futura;
    color: white;
    text-align: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    background-color: lightgrey;
    height:280px;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  }
  
.container {
    text-align: center;
    margin-top: 20px;
  }

.button {
    background-color: lightgrey;
}

.button:hover {
    background-color: lightblue;
}