h1 {
    font-size: 400%;
    color:white;
    text-align:center;
    font-family: futura;
  }

body {
    background-color: grey;
}
#header {
    background-color:grey;
}

.logo_42 {
    max-width:7%;
    height:auto;
    margin-right:10px;
}

.logos {
    width:200px;
    height:auto;
    display: block;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

#php {
    width:300px;
    height:auto;
}

p {
    font-size:200%;
    font-family: futura;
    color: white;
    text-align: center;
}